.sprite {
    height: 50px;
    width: 50px;
    display: block;
    margin: 1px;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0px;
}

#main {
    display: flex;
}

#interface_panel {
    background-color: rgb(238, 224, 202);
    padding: 20px;
    width: 100%;
    display: flex;
}

#interface_panel img {
    width: 200px;
}

#info {
    padding-top: 50px;
}